.main {
  min-height: 100vh;
}
.hero_image_one {
  shape-outside: circle();
  float: left;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  position: static !important;
  max-width: 70%;
  max-height: 70%;
}

@media (max-width: 600px) {
  .hero_image_one {
    margin-top: 25px;
    shape-outside: none;
    float: none;
    width: 100%;
    height: 100%;
  }
  .about_dis {
    padding: 10px;
  }
}

/* Time */

.adminImage {
  position: static !important;
  max-width: 200px;
  max-height: 200px;
}
.ourTeam_admin {
  background-color: rgb(207, 170, 228);
  color: black;
  width: 500px;
  margin: 10%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px purple;
}
.ourTeam_admin img {
  margin-top: -100px;
  background-image: linear-gradient(180deg, white, #CFAAE4, #CFAAE4);
  border-radius: 50% 50% 0 0;
}
.ourTeam_admin h1 {
  padding: 10px;
}
.ourTeam_admin p {
  padding: 10px;
}

@media (max-width: 600px) {
  .ourTeam_admin {
    background-color: rgb(207, 170, 228);
    color: black;
    width: auto;
    margin: 20% 5% 20% 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px purple;
  }
}