.courseMain {
  display: flex;
  padding: 5%;
}

.lmsYtPlayer {
  width: 100%;
  min-height: 350px;
  border-radius: 5px;
}

.vTitle {
  text-transform: uppercase;
  border-bottom: 1px solid;
  background-image: linear-gradient(
    transparent,
    transparent,
    transparent,
    rgb(115, 37, 37)
  );
  margin: 10px 0;
  border-radius: 10px;
  padding: 0 10px;
  text-shadow: 8px -5px 10px #0b0c3a;
}


.or_description{
  margin: 10px 0;
}

.collapse_items {
  background-color: rgb(255, 255, 255);
  margin: 0 10px 20px 10px;
  padding: 10px 10px;
  box-shadow: 2px 2px 10px #010386;
  border-radius: 5px;
  user-select: none;
}
.collapse_title {
  color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.collapse_content {
  color: rgb(18, 18, 18);
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  color: rgb(18, 18, 18);
  overflow: hidden;
}

.lms_classes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}
.lms_classes > p {
  text-transform: uppercase;
  color: white;
  padding: 5px;
}
.lms_classes > p > span {
  background: white;
  color: black;
  margin: 0 5px;
  padding: 2px;
  border-radius: 5px;
}

.class_title {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  text-align: start;
  margin: 5px 0;
  width: 100%;
  font-weight: bold;
  color: rgb(41, 41, 41);
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid blue;
}

@media (max-width: 400px) {
  .lms_classes {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/* other resource */
.other_resource {
  display: flex;
  padding: 5%;
}

.rc_ss_top {
  height: 50%;
}
.rc_ss_btm {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rc_ss_vid {
  height: 100%;
  width: 100%;
}

.rc_web_title{
  text-transform: uppercase;
  margin-top: 20px;
  background-color: rgb(232, 221, 221);
  font-size: 3rem;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

/*  */

/* slider */

.swiper {
  width: 240px;
  height: 320px;
  user-select: none;
  margin: 50px auto;
  text-align: center;
}

.swiper_slide strong {
  font-size: 18px;
  text-transform: uppercase;
}
.swiper_slide p {
  font-size: 14px;
}
.swiper_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper_slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper_slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper_slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper_slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

/*  */
/*  */
