body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: radial-gradient(ellipse at left, #4646ff, transparent),
    radial-gradient(ellipse at top, #0c0cbe, transparent),
    radial-gradient(ellipse at bottom, #01aae5, transparent);
  position: relative;
  min-height: 100vh !important;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* comp */
.c-w {
  color: white;
}
.backToHome {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
.page404 {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image404 {
  width: 300px;
  height: 50%;
  object-fit: contain;
}

.content {
  display: flex;
  justify-content: center;
}

/* enroll btn */
/* enroll btn */

.enroll_btn {
  background-color: #aaff00;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  margin: 10px 0;
  border-radius: 5px;

  /* ami */
  position: relative;
}
.enroll_btn:hover {
  background-color: white;
  color: black;
  font-weight: 700;
  transition: all 500ms;
}

.enroll_btn::before,
.main_clock::after,
.main_clock::before,
.enroll_btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    45deg,
    yellow,
    red,
    yellow,
    white,
    yellow,
    orange,
    yellow,
    yellow,
    red,
    yellow,
    white,
    yellow,
    orange,
    yellow,
    yellow,
    red,
    yellow,
    white,
    yellow,
    orange,
    yellow,
    yellow,
    red,
    yellow,
    white,
    yellow,
    orange,
    yellow
  );
  background-size: 10000%;
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  z-index: -1;
  border-radius: 5px;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.enroll_btn::after,
.main_clock::after {
  filter: blur(15px);
  opacity: 100;
}

/* enroll btn */
/* enroll btn */

/* Timer */
/* Timer */
.timer {
  position: relative;
  margin: 20px 0;
}

.main_clock {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: black;
}
.clock_int {
  display: flex;
}
.clock_int > p {
  display: flex;
  flex-direction: column;
  margin-top: -50%;
  justify-content: center;
  align-items: center;
}
.clock_int > p > span {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px 5px 5px 5px;
}

/* Timer */
/* Timer */
